  <!-- ==================== Start video ==================== -->

    <section class="video bg-img parallaxie" data-background="../../assets/images/bg-vid.jpg"
        style="background-image: url(&quot;../../assets/images/bg-vid.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 1371.68px;">
        <a class="vid valign" href="https://vimeo.com/127203262">
            <div class="vid-butn">
                <span class="icon">
                    <i class="pe-7s-play"></i>
                </span>
            </div>
        </a>
        <div class="container">
            <div class="stauts">
                <div class="item">
                    <h4>3<span>K</span> +</h4>
                    <h6>Happy Clients</h6>
                </div>
                <div class="item">
                    <h4>14<span>K</span> +</h4>
                    <h6>Success Projects</h6>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End video ==================== -->
