
    <!-- ==================== Start Blog ==================== -->

    <section class="blog-list section-padding sub-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="head md-mb50">
                        <h6 class="back-color">Get The Latest News</h6>
                        <h3>What Our Trending News.</h3>
                        <p>We provide company and finance service for
                            startups and company business.</p>
                        <a href="#0">
                            <span>More Blog Posts</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <div class="item wow fadeInUp" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="img valign">
                            <img src="../../assets/images/21.jpg" alt="">
                        </div>
                        <div class="cont valign">
                            <div>
                                <div class="info">
                                    <a href="#0" class="date">
                                        <span><i>06</i> August</span>
                                    </a>
                                    <span>/</span>
                                    <a href="#0" class="tag">
                                        <span>WordPress</span>
                                    </a>
                                </div>
                                <h5>
                                    <a href="#0">How to use solid color combine with simple furnitures.</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".5s"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="img valign">
                            <img src="../../assets/images/22.jpg" alt="">
                        </div>
                        <div class="cont valign">
                            <div>
                                <div class="info">
                                    <a href="#0" class="date">
                                        <span><i>06</i> August</span>
                                    </a>
                                    <span>/</span>
                                    <a href="#0" class="tag">
                                        <span>WordPress</span>
                                    </a>
                                </div>
                                <h5>
                                    <a href="#0">How to use solid color combine with simple furnitures.</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="item wow fadeInUp" data-wow-delay=".3s"
                        style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="img valign">
                            <img src="../../assets/images/23.jpg" alt="">
                        </div>
                        <div class="cont valign">
                            <div>
                                <div class="info">
                                    <a href="#0" class="date">
                                        <span><i>06</i> August</span>
                                    </a>
                                    <span>/</span>
                                    <a href="#0" class="tag">
                                        <span>WordPress</span>
                                    </a>
                                </div>
                                <h5>
                                    <a href="#0">How to use solid color combine with simple furnitures.</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Blog ==================== -->