/*! CSS Used from: https://ui-themez.smartinnovates.net/items/vie/vie-dark/css/plugins.css */
/*! @import https://ui-themez.smartinnovates.net/items/vie/vie-dark/css/plugins/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
footer,header,nav,section{display:block;}
body{margin:0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff;}
h1,h5,h6{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0056b3;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
svg:not(:root){overflow:hidden;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button,input{overflow:visible;}
button{text-transform:none;}
button,html [type=button]{-webkit-appearance:button;}
h1,h5,h6{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;}
h1{font-size:2.5rem;}
h5{font-size:1.25rem;}
h6{font-size:1rem;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1140px;}
}
.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-4,.col-lg-7,.col-md-6,.col-md-9{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
.col-md-9{-webkit-box-flex:0;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%;}
}
@media (min-width:992px){
.col-lg-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;}
.col-lg-7{-webkit-box-flex:0;-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%;}
}
.collapse{display:none;}
.dropdown{position:relative;}
.dropdown-toggle::after{display:inline-block;width:0;height:0;margin-left:.255em;vertical-align:.255em;content:"";border-top:.3em solid;border-right:.3em solid transparent;border-bottom:0;border-left:.3em solid transparent;}
.dropdown-toggle:empty::after{margin-left:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.125rem 0 0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem;}
.dropdown-item{display:block;width:100%;padding:.25rem 1.5rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:focus,.dropdown-item:hover{color:#16181b;text-decoration:none;background-color:#f8f9fa;}
.dropdown-item:active{color:#fff;text-decoration:none;background-color:#007bff;}
.dropdown-item:disabled{color:#6c757d;background-color:transparent;}
.nav-link{display:block;padding:.5rem 1rem;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.navbar{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:.5rem 1rem;}
.navbar>.container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
.navbar-nav{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
.navbar-nav .nav-link{padding-right:0;padding-left:0;}
.navbar-nav .dropdown-menu{position:static;float:none;}
.navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;}
.navbar-toggler:focus,.navbar-toggler:hover{text-decoration:none;}
.navbar-toggler:not(:disabled):not(.disabled){cursor:pointer;}
@media (max-width:991.98px){
.navbar-expand-lg>.container{padding-right:0;padding-left:0;}
}
@media (min-width:992px){
.navbar-expand-lg{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;}
.navbar-expand-lg .navbar-nav{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute;}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:.5rem;padding-left:.5rem;}
.navbar-expand-lg>.container{-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
.navbar-expand-lg .navbar-collapse{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto;}
.navbar-expand-lg .navbar-toggler{display:none;}
}
.justify-content-center{-webkit-box-pack:center!important;-ms-flex-pack:center!important;justify-content:center!important;}
.ml-auto{margin-left:auto!important;}
.text-center{text-align:center!important;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
p{orphans:3;widows:3;}
body{min-width:992px!important;}
.container{min-width:992px!important;}
.navbar{display:none;}
}
/*! end @import */
/*! @import https://ui-themez.smartinnovates.net/items/vie/vie-dark/css/plugins/animate.css */
body{-webkit-backface-visibility:hidden;}
/*! end @import */
/*! @import https://ui-themez.smartinnovates.net/items/vie/vie-dark/css/plugins/pe-icon-7-stroke.css */
[class*=" pe-7s-"]{display:inline-block;font-family:'Pe-icon-7-stroke';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.pe-7s-paper-plane:before{content:"\e629";}
.pe-7s-map-marker:before{content:"\e638";}
.pe-7s-mail:before{content:"\e639";}
.pe-7s-call:before{content:"\e670";}
/*! end @import */
/*! @import https://ui-themez.smartinnovates.net/items/vie/vie-dark/css/plugins/fontawesome-all.min.css */
.fab,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-bars:before{content:"\f0c9";}
.fa-facebook-f:before{content:"\f39e";}
.fa-instagram:before{content:"\f16d";}
.fa-twitter:before{content:"\f099";}
.fa-youtube:before{content:"\f167";}
.fab{font-family:Font Awesome\ 5 Brands;}
.fas{font-family:Font Awesome\ 5 Free;}
.fas{font-weight:900;}
/*! end @import */
/*! CSS Used from: https://ui-themez.smartinnovates.net/items/vie/vie-dark/css/style.css */
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;outline:none;list-style:none;}
body{color:#fff;background:#111215;line-height:1.5;font-weight:400;overflow-x:hidden!important;font-family:'Poppins', sans-serif;}
img{width:100%;height:auto;}
span,a,a:hover{display:inline-block;color:inherit;}
h1{font-size:55px;}
h5{font-size:25px;}
h6{font-size:18px;}
h1,h5,h6{margin:0;line-height:1.4;font-weight:500;}
p{color:#a4a7b1;font-size:16px;font-weight:300;line-height:2;margin:0;}
a,span{display:inline-block;}
a:hover,span:hover{text-decoration:none;}
.container{max-width:1200px;}
.custom-font{font-family:'Poppins', sans-serif;}
.color-font{background:-webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));background:-webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);background:-o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);background:linear-gradient(to right, #12c2e9, #c471ed, #f64f59);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.full-width{width:100%!important;}
.sub-bg{background:#18191d;}
.section-padding{padding:120px 0;}
.valign{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.mt-50{margin-top:50px!important;}
.pb-70{padding-bottom:70px!important;}
.pace{pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99999999999999;position:fixed;margin:auto;top:0;left:0;right:0;bottom:0;width:400px;border:0px;height:1px;overflow:hidden;background:rgba(255, 255, 255, 0.05);-webkit-transition:all 1s;-o-transition:all 1s;transition:all 1s;}
.pace .pace-progress{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);max-width:300px;position:fixed;z-index:99999999999999;display:block;position:absolute;top:0;right:100%;height:100%;width:100%;background:#12c2e9;background:-webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));background:-webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);background:-o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);background:linear-gradient(to right, #12c2e9, #c471ed, #f64f59);}
#preloader{width:100%;height:100vh;overflow:hidden;position:fixed;z-index:9999999;}
#preloader:after,#preloader:before{content:'';position:fixed;left:0;height:50%;width:100%;background:#252531;-webkit-transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);-o-transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);}
#preloader:before{top:0;}
#preloader:after{bottom:0;}
.loading{position:fixed;left:50%;top:calc(50% - 40px);-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);font-weight:300;font-size:13px;text-transform:uppercase;letter-spacing:10px;z-index:9999999999;}
.loading span{-webkit-animation:loading 1.4s infinite alternate;animation:loading 1.4s infinite alternate;}
.loading span:nth-child(1){-webkit-animation-delay:0s;animation-delay:0s;}
.loading span:nth-child(2){-webkit-animation-delay:0.1s;animation-delay:0.1s;}
.loading span:nth-child(3){-webkit-animation-delay:0.2s;animation-delay:0.2s;}
.loading span:nth-child(4){-webkit-animation-delay:0.3s;animation-delay:0.3s;}
.loading span:nth-child(5){-webkit-animation-delay:0.4s;animation-delay:0.4s;}
.loading span:nth-child(6){-webkit-animation-delay:0.5s;animation-delay:0.5s;}
.loading span:nth-child(7){-webkit-animation-delay:0.6s;animation-delay:0.6s;}
.mouse-cursor{position:fixed;left:0;top:0;pointer-events:none;border-radius:50%;-webkit-transform:translateZ(0);transform:translateZ(0);visibility:hidden;}
.cursor-inner{width:6px;height:6px;z-index:10000001;background-color:#12c2e9;-webkit-transition:width .3s ease-in-out,  height .3s ease-in-out,  margin .3s ease-in-out,  opacity .3s ease-in-out;-o-transition:width .3s ease-in-out,  height .3s ease-in-out,  margin .3s ease-in-out,  opacity .3s ease-in-out;transition:width .3s ease-in-out,  height .3s ease-in-out,  margin .3s ease-in-out,  opacity .3s ease-in-out;}
.cursor-outer{margin-left:-12px;margin-top:-12px;width:30px;height:30px;border:1px solid #12c2e9;-webkit-box-sizing:border-box;box-sizing:border-box;z-index:10000000;opacity:.5;-webkit-transition:all .08s ease-out;-o-transition:all .08s ease-out;transition:all .08s ease-out;}
.progress-wrap{position:fixed;bottom:30px;right:30px;height:44px;width:44px;cursor:pointer;display:block;border-radius:50px;z-index:100;opacity:0;visibility:hidden;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px);-webkit-transition:all 400ms linear;-o-transition:all 400ms linear;transition:all 400ms linear;}
.progress-wrap::after{position:absolute;font-family:'Font Awesome 5 Free';content:'\f077';text-align:center;line-height:44px;font-size:13px;font-weight:900;color:#12c2e9;left:0;top:0;height:44px;width:44px;cursor:pointer;display:block;z-index:1;-webkit-transition:all 400ms linear;-o-transition:all 400ms linear;transition:all 400ms linear;}
.progress-wrap svg path{fill:none;}
.progress-wrap svg.progress-circle path{stroke:#12c2e9;stroke-width:4;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all 400ms linear;-o-transition:all 400ms linear;transition:all 400ms linear;}
.navbar{position:absolute;left:0;top:0;padding:0;margin:0;width:100%;background:transparent;border-bottom:2px solid transparent;z-index:999;min-height:80px;}
.navbar .icon-bar{color:#fff;}
.navbar .navbar-nav .nav-link{font-size:12px;font-weight:500;color:#fff;padding:15px 7px;margin:10px 15px;}
.navbar .navbar-nav .dropdown-menu{padding:10px 0;border:0;-webkit-box-shadow:0px 10px 40px -4px rgba(0, 0, 0, 0.1);box-shadow:0px 10px 40px -4px rgba(0, 0, 0, 0.1);}
.navbar .navbar-nav .dropdown-item{font-size:13px;padding:10px 20px;opacity:.9;}
.navbar .navbar-nav .dropdown-item:hover{background:transparent;color:#12c2e9;}
.navbar .dropdown-menu{display:block;opacity:0;visibility:hidden;border-radius:0;color:#fff;background:#1b1d21;min-width:185px;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px);-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s;}
.navbar .dropdown-menu .dropdown-item{color:#fff;-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s;padding:10px 25px;position:relative;}
.navbar .dropdown-menu .dropdown-item:after{content:'';width:0px;height:1px;background:#12c2e9;position:absolute;left:10px;top:50%;-webkit-transition:all .4s;-o-transition:all .4s;transition:all .4s;}
.navbar .dropdown-menu .dropdown-item:hover{padding-left:30px;}
.navbar .dropdown-menu .dropdown-item:hover:after{width:10px;}
.navbar .logo{width:50px;}
.works-header{min-height:80vh;}
.works-header.hfixd{position:fixed;top:0;left:0;width:100%;}
.works-header .capt h1{font-size:60px;font-weight:800;letter-spacing:2px;text-transform:uppercase;}
.works-header .capt .bactxt{font-size:30vw;font-weight:bold;color:transparent;-webkit-text-stroke:1px rgba(255, 255, 255, 0.1);z-index:-1;position:absolute;width:100%;height:100%;left:0;top:0;text-align:center;opacity:.5;}
.static{position:static;}
.circle-bg{position:relative;}
.circle-bg .circle-color{position:absolute;top:0;left:0;width:100%;height:100%;z-index:5;}
.circle-bg .circle-color.fixed{position:fixed;pointer-events:none;opacity:.5;}
.circle-bg .gradient-circle{position:absolute;left:-250px;top:250px;right:auto;bottom:auto;z-index:-1;width:500px;height:500px;border-radius:70%;background-image:-webkit-linear-gradient(45deg, #059dff, #36c6f0);background-image:-o-linear-gradient(45deg, #059dff, #36c6f0);background-image:linear-gradient(45deg, #059dff, #36c6f0);opacity:.25;-webkit-filter:blur(100px);filter:blur(100px);}
.circle-bg .gradient-circle.two{left:auto;top:-250px;right:-250px;bottom:auto;background-image:-webkit-linear-gradient(45deg, #fb5343, #6549d5);background-image:-o-linear-gradient(45deg, #fb5343, #6549d5);background-image:linear-gradient(45deg, #fb5343, #6549d5);}
.main-content{background:#111215;position:relative;z-index:3;overflow-x:hidden!important;}
.works .lg-space > div{padding:0 50px;margin-bottom:50px;}
footer{color:#fff;padding:100px 0;}
footer .item .title h5{margin-bottom:30px;}
footer .item li{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:25px;}
footer .item li:last-of-type{margin-bottom:0;}
footer .item li h6{font-size:14px;font-weight:600;}
footer .item li .icon{font-size:30px;margin-right:30px;}
footer .item li .img{width:150px;margin-right:15px;}
footer .item li .sm-post p{font-size:13px;}
footer .item li .sm-post .date{font-size:12px;color:#12c2e9;}
footer .item li .subscribe{width:100%;position:relative;}
footer .item li .subscribe input{width:100%;padding:15px;border-radius:30px;border:1px solid rgba(255, 255, 255, 0.05);background:transparent;color:#fff;font-size:13px;}
footer .item li .subscribe .subs{position:absolute;top:0;right:0;width:50px;height:50px;line-height:50px;text-align:center;border-radius:50%;background:#12c2e9;color:#000;}
footer .item .logo{margin-bottom:50px;}
footer .item .logo img{width:50px;}
footer .item .social a{width:60px;height:60px;line-height:60px;text-align:center;border-radius:50%;border:1px solid rgba(255, 255, 255, 0.05);font-size:13px;margin-right:10px;}
footer .item .copy-right{margin-top:30px;}
footer .item .copy-right p{font-size:13px;font-weight:300;text-transform:uppercase;letter-spacing:3px;}
footer .item .copy-right p a{color:#12c2e9;}
@media screen and (max-width: 991px){
.md-mb50{margin-bottom:50px;}
.container{max-width:720px;}
.navbar{min-height:60px;}
.navbar .navbar-collapse{max-height:340px;overflow:auto;background:#11141b;text-align:center;padding:10px 15px;}
.navbar .nav-link{margin:10px auto!important;}
.navbar .logo{margin-left:15px;width:50px;}
.navbar-nav .dropdown-menu{opacity:1;visibility:visible;display:none;background:#0c0f16;text-align:center;color:#eee;}
.navbar-nav .dropdown-menu .dropdown-item{color:#eee;}
.navbar .navbar-nav .nav-link{padding:0;}
.navbar .navbar-nav .nav-link:hover{color:#12c2e9;}
.works-header .capt h1{font-size:45px;}
}
@media screen and (max-width: 767px){
.container{max-width:540px;}
h1{font-size:35px;}
h5{font-size:18px;}
h6{font-size:16px;}
.progress-wrap{right:15px;bottom:15px;}
.navbar .logo{width:40px;}
.works-header.hfixd{position:static;}
.main-content{margin-top:0!important;}
}
/*! CSS Used keyframes */
@-webkit-keyframes loading{0%{opacity:1;}100%{opacity:0;}}
@keyframes loading{0%{opacity:1;}100%{opacity:0;}}
/*! CSS Used fontfaces */
@font-face{font-family:'Pe-icon-7-stroke';src:url('https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/Pe-icon-7-stroke.eot?d7yf1v');src:url('https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),  		url('https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),  		url('https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),  		url('https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:Font Awesome\ 5 Brands;font-style:normal;font-weight:400;src:url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-brands-400.eot);src:url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-brands-400.woff2) format("woff2"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-brands-400.woff) format("woff"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-brands-400.ttf) format("truetype"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-brands-400.svg#fontawesome) format("svg");}
@font-face{font-family:Font Awesome\ 5 Free;font-style:normal;font-weight:400;src:url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-regular-400.eot);src:url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-regular-400.woff2) format("woff2"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-regular-400.woff) format("woff"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-regular-400.ttf) format("truetype"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-regular-400.svg#fontawesome) format("svg");}
@font-face{font-family:Font Awesome\ 5 Free;font-style:normal;font-weight:900;src:url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-solid-900.eot);src:url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-solid-900.woff2) format("woff2"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-solid-900.woff) format("woff"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-solid-900.ttf) format("truetype"),url(https://ui-themez.smartinnovates.net/items/vie/vie-dark/fonts/fa-solid-900.svg#fontawesome) format("svg");}
@font-face{font-family:'Poppins';font-style:normal;font-weight:100;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucXtAKPY.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:100;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:100;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format('woff2');unicode-range:U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Poppins';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}