<section class="portfolio section-padding pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="sec-head text-center">
                    <h6 class="wow fadeIn" data-wow-delay=".5s"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">Portfolio</h6>
                    <h3 class="wow color-font animated" style="visibility: visible;">Our Recent Web Design &amp;
                        <br> Some Past Projects.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">

            <!-- filter links -->
            <div class="filtering text-center col-12">
                <div class="filter">
                    <span data-filter="*" class="active">All</span>
                    <span data-filter=".brand">Branding</span>
                    <span data-filter=".web">Mobile App</span>
                    <span data-filter=".graphic">Creative</span>
                </div>
            </div>

            <!-- gallery -->
            <div class="gallery full-width" style="position: relative; height: 1434.35px;">

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items graphic wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; position: absolute; left: 0px; top: 0px;">
                    <div class="item-img">
                        <!-- <a href="project-details2.html" class="imago wow animated" style="visibility: visible;">
                            <img src="../../assets/images/1.jpg" alt="image">
                            <div class="item-img-overlay"></div>
                        </a> -->
                        <img src="../../assets/images/1.jpg" alt="image">
                    </div>
                    <div class="cont">
                        <h6>Creativity Demand</h6>
                        <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items web lg-mr wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; position: absolute; left: 506px; top: 0px;">
                    <div class="item-img">
                        <!-- <a href="project-details2.html" class="imago wow animated" style="visibility: visible;">
                            <img src="../../assets/images/2.jpg" alt="image">
                            <div class="item-img-overlay"></div>
                        </a> -->
                        <img src="../../assets/images/2.jpg" alt="image">
                    </div>
                    <div class="cont">
                        <h6>Through The Breaking</h6>
                        <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items brand wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; position: absolute; left: 1012px; top: 0px;">
                    <div class="item-img">
                        <!-- <a href="project-details2.html" class="imago wow animated" style="visibility: visible;">
                            <img src="../../assets/images/3.jpg" alt="image">
                            <div class="item-img-overlay"></div>
                        </a> -->
                        <img src="../../assets/images/3.jpg" alt="image">
                    </div>
                    <div class="cont">
                        <h6>Create With Creatives</h6>
                        <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items graphic wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; position: absolute; left: 0px; top: 692px;">
                    <div class="item-img">
                        <!-- <a href="project-details2.html" class="imago wow animated" style="visibility: visible;">
                            <img src="../../assets/images/4.jpg" alt="image">
                            <div class="item-img-overlay"></div>
                        </a> -->
                        <img src="../../assets/images/4.jpg" alt="image">
                    </div>
                    <div class="cont">
                        <h6>Energies of Love</h6>
                        <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items web wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; position: absolute; left: 1012px; top: 692px;">
                    <div class="item-img">
                        <!-- <a href="project-details2.html" class="imago wow animated" style="visibility: visible;">
                            <img src="../../assets/images/5.jpg" alt="image">
                            <div class="item-img-overlay"></div>
                        </a> -->
                        <img src="../../assets/images/5.jpg" alt="image">
                    </div>
                    <div class="cont">
                        <h6>See It Yourself</h6>
                        <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                    </div>
                </div>

                <!-- gallery item -->
                <div class="col-lg-4 col-md-6 items brand wow fadeInUp" data-wow-delay=".4s"
                    style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; position: absolute; left: 506px; top: 742px;">
                    <div class="item-img">
                        <!-- <a href="project-details2.html" class="imago wow animated" style="visibility: visible;">
                            <img src="../../assets/images/6.jpg" alt="image">
                            <div class="item-img-overlay"></div>
                        </a> -->
                        <img src="../../assets/images/6.jpg" alt="image">
                    </div>
                    <div class="cont">
                        <h6>Blast From The Past</h6>
                        <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>